#mainNavBar{
    /*height: 78px;*/
   background-color: #ECFAFF;
}

.well{
    background-color: #ECFAFF;
}

.error-label {
    color: red;
}
body {
    padding-top: 80px; /* padding voor .navbar-fixed-top.*/
    background-color: #FEFDFF;
    font-family: 'Annie Use Your Telescope';
    font-size: 22px;
    font-weight: 400;
}

/*
productOverviewPartial
thumbnail bevat .imageholder, .caption en .cart
*/

.thumbnail {
    /*padding: 10px;*/
    height: 300px;

}

.imageholder {
    position: relative;
    padding: 10px;
    height: 50%;
    text-align: center;
}

.imageholder .glyphicon-star{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #A095EE;
    font-size: 2em;
}

.imageholder img{
    /*opacity: 0.25;*/
}

.caption {
    overflow: hidden;
    height: 35%;
}

.cart{
    height:15%;
    /*padding:10px;*/
}

.cart .glyphicon-shopping-cart{
    font-size: 1.2em;
    color:#FFBBBB;
}

.caption h5 {
    white-space: normal;
    overflow: hidden;
}

.thumbnail img {
    width: 50%;
}

/*
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
*/

.cart{
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;
    height:15%;
}

footer {
    margin: 50px 0;
}

/*Admin/productOverview Admin/categoryOverview*/
#admin_product_table td, #admin_category_table td{
    overflow: hidden;
    white-space: nowrap;
}

/*Admin/editProduct*/
.dropdown,.form-control,.btn-default, input[type="radio"]{
    margin-bottom: 2em;
}
/*Admin/deleteProduct*/
.img-rounded{
    width: 100%;

}