#mainNavBar{
    height: 78px;
}



.error-label {
    color: red;
}

body {
    padding-top: 80px; /* padding voor .navbar-fixed-top.*/
}

/*
productOverviewPartial
thumbnail bevat .imageholder, .caption en .cart
*/

.thumbnail {
    padding: 0;
    height: 250px;
}

.imageholder {
    padding: 0px;
    height: 50%;
    text-align: center;
}

.caption {
    overflow: hidden;
    height: 35%;
}

.caption h5 {
    white-space: normal;
    overflow: hidden;
}

.thumbnail img {
    width: 50%;
}

/*
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
*/

.cart{
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;
    height:15%;
}

footer {
    margin: 50px 0;
}

/*Admin/productOverview Admin/categoryOverview*/
#admin_product_table td, #admin_category_table td{
    overflow: hidden;
    white-space: nowrap;
}

/*Admin/editProduct*/
.dropdown,.form-control,.btn-default, input[type="radio"]{
    margin-bottom: 2em;
}
/*Admin/deleteProduct*/
.img-rounded{
    width: 100%;

}