/*general*/

#mainNavBar{
    background-color: #c7ddef;
    background-image: none;
}

.well-lg{
    background-color: #c7ddef;
    background-image: none;
}

a.list-group-item:active, a.list-group-item:hover, a.list-group-item:focus, .list-group a.list-group-item.active{
    background-color: #c7ddef;
    background-image: none;
    color: #555555;
}

.panel-default > .panel-heading{
    background-color:lavenderblush;
    background-image: none;
}

.error-label {
    color: red;
}
.error{
    border-color: red;
}

/*fixed footer*/
/*http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3 */
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}

body {
    padding-top: 140px; /* padding voor .navbar-fixed-top.*/
    background-color: #FEFDFF;
    /* font-family: 'Annie Use Your Telescope'; */
    font-family: 'Architects Daughter';
    font-size: 22px;
    font-weight: 400;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.panel-default .row{
    padding-top: 10px;
}

/*
productThumbnailPartial
thumbnail bevat .imageholder, .caption en .cart
*/
.thumbnail {
    height: 12em;
}
.imageholder {
    position: relative;
    padding: 5%;
    height: 40%;
    text-align: center;
}
.imageholder .glyphicon-star{
    position: absolute;
    top: 10%;
    right: 10%;
    color: #A095EE;
    font-size: 1.2em;
}
.imageholder img{
    height:80%
}

.caption {
    overflow: hidden;
    height: 40%;
}
.cart{
    height:20%;
}
.productHolder .glyphicon-shopping-cart{
    font-size: 1.2em;
    color:#FFBBBB;
}
.caption h4 {
    white-space: normal;
    overflow: hidden;
}

.thumbnail img {
    width: 3em;
}

.cart{
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;
    height:15%;
}



/*Admin/productOverview Admin/categoryOverview*/
#admin_product_table td, #admin_category_table td{
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

/*Admin/editProduct*/
.dropdown,.form-control,.btn-default,.btn-primary, input[type="radio"], input[type="checkbox"]{
    margin-bottom: 1.5em;
}
/*Admin/deleteProduct*/
.img-rounded{
    width: 100%;
}

/*button in productThumbNail */
.cartIcon{
    background: none;
    border: none;
    outline: none;
}

/*button in showDetail*/
.addToCartButtonDetail{
    width:50%;
}

button.addToCartButtonDetail span.glyphicon{
    font-size: 30pt;
}

/*Cart/overview*/

td img{
    width: 100%;
}

/*Product/showdDetail*/
#productImage{
    position: relative;
}

#productImage img{
    width:100%;
}

#productImage .panel-default{
    height:50%;
}

#productImage .glyphicon-shopping-cart{
    font-size: 40px;
    color:#FFBBBB;
    margin: 20px;
}

#productImage .panel-default{
    height: 50%;
}

.paymentMethodLabel{
    margin-bottom: 10px;
}


td img{
    min-width: 50px;
}
